DJANGO_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=echolog.rb-translations.cz
DJANGO_CSRF_TRUSTED_ORIGINS=https://echolog.rb-translations.cz

POSTGRES_DB=echolog
POSTGRES_USER=echolog
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

ECHOLOG_DEFAULT_SENDER_DAILY_LIMIT=30
ECHOLOG_SEND_WINDOW_START=08:30
ECHOLOG_SEND_WINDOW_END=16:30
ECHOLOG_SEND_WEEKDAYS_ONLY=1
ECHOLOG_DEFAULT_FOLLOWUP_DAYS=14
ECHOLOG_FROM_EMAIL=info@rb-translations.cz
ECHOLOG_GOOGLE_CLIENT_SECRET_FILE=/var/www/echolog/secrets/google_client_secret.json
ECHOLOG_GOOGLE_TOKEN_FILE=/var/www/echolog/secrets/google_token.json
ECHOLOG_GOOGLE_TOKEN_DIR=/var/www/echolog/secrets
